{% extends 'base.html' %}

{% block content %}

<h1>Simulation Properties</h1>
<h3>Label: {{ object.title }}</h3>

<p>Metallicity: {{ object.metallicity }}</p>
<p>Flow:<br> {{ object.flow }}</p>

<p>Step_Cosmic args:<br>
  end: {{ object.cosmic_end }}<br>
  evolve_dict: {{ object.cosmic_evolve_dict }}
  </p>

<p>Step_Mesa args:<br>
  mechanism: {{ object.mesa_mechanism }}<br>
  sigma_kcik: {{ object.mesa_sigma_kick }}<br>
  mesa_mass_central_BH: {{ object.mesa_mass_central_BH }}<br>
  neutrino_mass_loss: {{ object.mesa_neutrino_mass_loss }}<br>
  PISN: {{ object.mesa_PISN }}<br>
  log_scale: {{ object.mesa_log_scale }}<br>
  verbose: {{ object.mesa_verbose }}<br>
  </p>

<p>step_end: {{ object.step_end }}</p>
<p>max_time: {{ object.max_time }}</p>


<li><a href="{% url 'sims:sim_prop-update' object.id %}">Update.</a></li>
<li><a href="{% url 'sims:sim_prop-delete' object.id %}">Delete.</a></li>

<li><a href="{% url 'sims:sim_script-dl' object.id %}">Dowload script.</a></li>

{% endblock %}
