{% extends 'base.html' %}

{% block content %}

<h1>Simulation Properties</h1>
<h3>Label: {{ object.title }}</h3>

<p>Metallicity: {{ object.metallicity }}</p>
<p>Flow:<br> {{ object.flow }}</p>

<p>Step_Cosmic args:<br>
  end: {{ object.cosmic_end }}<br>
  evolve_dict: {{ object.cosmic_evolve_dict }}
  </p>

<p>Step_Mesa args:<br>
  mechanism: {{ object.mesa_mechanism }}<br>
  sigma_kcik: {{ object.mesa_sigma_kick }}<br>
  mesa_mass_central_BH: {{ object.mesa_mass_central_BH }}<br>
  neutrino_mass_loss: {{ object.mesa_neutrino_mass_loss }}<br>
  PISN: {{ object.mesa_PISN }}<br>
  log_scale: {{ object.mesa_log_scale }}<br>
  verbose: {{ object.mesa_verbose }}<br>
  </p>

<p>step_end: {{ object.step_end }}</p>
<p>max_time: {{ object.max_time }}</p>


<li><a href="{% url 'sims:sim_prop-update' object.id %}">Update arguments.</a></li>

<li>Click <a href="{% url 'sims:flow-graph' object.id %}">here</a> to display flow graph, or <a href="{% url 'sims:flow-graph' object.id %}?format=pdf&download=true">download pdf.</a></li>
<li>Click <a href="{% url 'sims:sim_script-dl' object.id %}">here</a> to dowload python evolution script.</li>

<p>Submit to cluster and run simulation.<br>
<li><a href="{% url 'sims:sim_evolve' object.id %}">Run sim.</a></li>
<!-- Enter email adress to get notified on job status.
<form action="{% url 'sims:sim_evolve' object.id %}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <label for="email">Email: </label>
    <input id="email" type="email" name="submit_run">
    <input type="submit" value="Submit and run">
</form> -->
</p>

<li><a href="{% url 'sims:sim_prop-delete' object.id %}">Delete object.</a></li>

{% endblock %}
