{% extends 'base.html' %}

{% block content %}

<h1>{{ object.title }}</h1>
<p>Flow:<br> {{ object.content }}</p>

{% if object.comment %}
<p>Comments: {{ object.comment }}</p>
{% endif %}

<li><a href="{% url 'sims:flow-graph' object.id %}">Display flow tree.</a></li>
<li><a href="{% url 'sims:flow-graph' object.id %}?format=pdf&download=true">Download pdf.</a></li>
<li><a href="{% url 'sims:flow-update' object.id %}">Update flow.</a></li>
<li><a href="{% url 'sims:flow-delete' object.id %}">Delete flow.</a></li>

{% endblock %}
